{% extends 'back_end/base.html.twig' %}

{% block title %}Edit Pays{% endblock %}

{% block body %}
    <h1>Edit Pays</h1>

    {{ include('back_end/pays/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pays_indexback') }}">back to list</a>

    {{ include('back_end/pays/_delete_form.html.twig') }}
{% endblock %}
