{% extends 'back_end/base.html.twig' %}

{% block title %}New Pays{% endblock %}

{% block body %}
    <h1>Create new Pays</h1>

    {{ include('back_end/pays/_form.html.twig') }}

    <a href="{{ path('pays_indexback') }}">back to list</a>
{% endblock %}
