{% extends 'back_end/base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h3 class="dashboard-title">Add activite</h3>
                </div>
                <div class="tr-single-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
