{% extends 'base-front.html.twig' %}
{% block body %}

    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h1 class="text-center">Ajouter une activité</h1>
        {{ form(form) }}
    </div>
{% endblock %}
