{% extends 'front_end/base.html.twig' %}

{% block title %}New Ville{% endblock %}

{% block body %}
    <h1>Create new Ville</h1>

    {{ include('front_end/ville/_form.html.twig') }}

    <a href="{{ path('ville_index') }}">back to list</a>
{% endblock %}
