{% extends 'front_end/base.html.twig' %}
{% block title %}Payment Success{% endblock %}
{% block body %}
    {{ parent () }}
    <h1>Paiement réussi !</h1>
    <p>
        Nous apprécions de faire affaire avec vous!
    </p>
    <a class="btn btn-primary" href="{{ path("reservation_index") }}">Afficher mes reservations</a>
{% endblock %}
