{% extends 'back_end/base.html.twig' %}

{% block title %}New Voyage{% endblock %}

{% block body %}
    <h1>Create new Voyage</h1>

    {{ include('back_end/voyage/_form.html.twig') }}

    <a href="{{ path('voyage_indexback') }}">back to list</a>
{% endblock %}
