{% extends 'front_end/base.html.twig' %}
{% block body %}
    <br><br><br><br><br>
    {{ form_start(formA) }}
    {{ form_row(formA) }}
    <button type="submit">Send</button>
    {{ form_end(formA) }}
{% endblock %}
