{% extends 'base.html.twig' %}

{% block title %}Hello GenerateController!
{% endblock %}

{% block body %}

	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>
				Generate QR Code</title>
		</head>
		<head>
			<body>
				<div style="padding:20px"></div>
				<img src="{{qrCode }} " alt="QrCode "/></body>
		</head>
	</html>


{% endblock %}
